#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  background-color: rgb(24, 24, 24);
  height: auto;
}

#videoElement {
  color: whitesmoke;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  min-height: 100vh;
}

.button {
  border: none;
  color: black;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.button:hover {
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  z-index: 150;
}

#ir-buttons-container {
  left: 10px;
  bottom: 10px;
  display: none;
  z-index: 100;
}

.green {
  background-color: #00e676;
}

.red {
  background-color: #ff1744;
}

body {
  background-color: #747474;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

 #snackbar {
    visibility: hidden;
    width: 85vw;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 5vw;
    bottom: 50px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  } 

