#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  background-color: rgb(24, 24, 24);
  height: auto;
}

#videoElement {
  color: whitesmoke;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  min-height: 100vh;
}

.button {
  border: none;
  color: black;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.button:hover,
.button:active {
  opacity: 0.3;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  z-index: 150;
}

#ir-buttons-container {
  left: 10px;
  bottom: 10px;
  display: none;
  z-index: 100;
}

.green {
  background-color: #00e676;
}

.red {
  background-color: #ff1744;
}

body {
  background-color: #747474;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
