@import "./components/_snackbar.css";
@import "./components/_loader.css";

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    background-color: rgb(24, 24, 24);
    height: auto;
}

#videoElement {
    color: whitesmoke;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    min-height: 100vh;
}

.button {
    border: none;
    color: black;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.7;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.button:hover {
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
}

.display-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    z-index: 150;
    max-width: max-content;
    max-height: max-content;
}

#ir-buttons-container {
    left: 10px;
    bottom: 10px;
    display: none;
    z-index: 100;
}

#cpu-temp {
    top: 10px;
}

.measures {
    color: rgb(255, 249, 249);
    font-size: 1em;
    top: 10px;
    left: 10px;
    z-index: 10;
    max-height: 0px;
}

#extra-measures-container {
    top: 30px;
}

.green {
    background-color: #00e676;
}

.red {
    background-color: #ff1744;
}

body {
    background-color: #747474;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
