#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:5px;
    background-color: rgb(24, 24, 24);
    position: relative;
}

#videoElement {
    align-self: auto;
    color: whitesmoke;
    width: 100%;
    height: auto;
}

.button {
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    opacity:0.7;
}

.button:hover, .button:active {
    background-color: #000000;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute; 
    right:10px;
    bottom:10px;
    display: none;
    z-index: 150;
}

#ir-buttons-container {
    position: absolute; 
    left:10px;
    bottom:10px;
    display: none;
    z-index: 100;
}

.green {
    background-color: #4CAF50;
}

.red {
    background-color: #af534c;
}

body {
    background-color: #747474;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}