{
    "Server": {
        "port": 3000
    },
    "ExtraUrls" : {
    },
    "Ir": {
        "hours": {
            "start": "20:00",
            "stop": "09:00"
        }
    },
    "Commands": {
        "ir": {
            "on"  : "",
            "off" : ""
        },
        "stream":{
            "start"  : "",
            "stop" : ""
        },
        "measure":{
            "cpu_temp" : ""
        }
    }
}
