{
    "Server": {
        "port": 3000
    },
    "Socketio": {
        "port": 3001
    }
    "ExtraUrls" : {
    },
    "IrRestrict": {
        "hours": {
            "start": "09:00",
            "stop": "20:00"
        }
    },
    "Commands": {
        "ir": {
            "on"  : "",
            "off" : ""
        },
        "stream":{
            "start"  : "",
            "stop" : ""
        },
        "measure":{
            "cpu_temp" : ""
        }
    },
     "Stream": {
        "stopTimeout": 5000,
        "startTimeout": 500
    }
}
